# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# IDEs
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Database
*.db
*.sqlite3
data/*.db

# Logs
*.log
