version: '3.8'

services:
  bot:
    build: .
    container_name: drawing_bot
    restart: always
    env_file:
      - .env
    volumes:
      - ./data:/app/data
    environment:
      - PYTHONUNBUFFERED=1
